* {
  margin: 0;
}
@font-face {
  font-family: Ocean-Trace;
  src: url(OceanTrace.ttf);
}
@font-face {
  font-family: arcade;
  src: url(ARCADECLASSIC.TTF);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  color: lime;
  background: black;
}
.nav-links > ul {
  font-family: Arcade;
  font-size: 23px;
  display: flex;
  gap: 30px;
  list-style: none;
}
.logo {
  font-family: Ocean-Trace;
  font-size: 30px;
}
